bin/
build/
lib/
WEBRTC_EXAMPLES
compiled_bin/
compiled_bin_arm/
*.local
TODOHEFNY.txt
*.png
.vscode
checks.json
buildme.sh

sh_copy_binaries.sh
sh_buildme.sh
sh_update_code.sh

compiled_bin
compiled_rpi_bin
*.bak_*
local/
img/
