bin/
build/
lib/
WEBRTC_EXAMPLES
compiled_bin/
compiled_bin_arm/
compiled_bin_debug/
compiled_bin_rpi_release/
compiled_bin_x86_release/
*.local
TODOHEFNY.txt
*.png
.vscode
checks.json
buildme.sh

sh_copy_binaries.sh
sh_buildme.sh
sh_update_code.sh

compiled_bin
compiled_rpi_bin
*.bak_*
local/
img/
compiled_rpi_bin_debug/
compiled_bin_rpi_debug/
compiled_bin_x86_debug/
